body {

font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

/* reset */

ul, ol {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding: 0;
}

a {
    text-decoration: none;
}
address {
    font-style: normal;
    font-size: 16px;
}
p, h1,h2,h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/* common */

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0; }

/* header */
.header {
    border-bottom: 1px solid #e7e9fc;

    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.header .header-nav {
    color: #2E2F42;
    font-size: 16px;
}

.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.02em;

    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.nav-link.current {
    position: relative; 
}
.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;


    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts {
    margin-left: auto;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;

}
.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;; 

}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;;
}

/* HERO */
.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: 
    linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

    max-width: 1440px;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    display: block;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        margin: 0 auto;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Features */

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    border: 0;
}

.features-list {
    display: flex;
    align-items: center;
    gap: 24px;
}
.features-list-item {
    width: calc((100% - 72px) / 4);
}
.box-icons {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* TEAM */

.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin: 0 auto 72px;
}
.team-list{
    display: flex;
    align-items: center;
    gap: 24px;
}
.team-item {
    width: calc(100% - 3 * 24px ) / 4;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;

    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.thumb-team {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.icons-team {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 24px;
    /* margin-top: 8px;
    margin-bottom: 32px; */
    /* padding: 0px 16px; */
}

.icon-svg {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.tean-svg {
    fill: #f4f4fd;
}

.single-icon {
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.icon-svg:hover, 
.icon-svg:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


/* PORTFOLIO */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc(100% - 3 * 24px) / 4;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-thumb {
    padding: 32px 16px;
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
}

.img-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    font-weight: 400;
        font-size: 16px;
    
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        box-sizing: border-box;
        /* padding: 32px 40px 155px 40px; */
        padding: 40px 32px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    transform: translatey(100%);
    /* transition: transform 250ms ease-in-out; */
}
.portfolio-item:hover .overlay {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* FOOTER */

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-text {
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}
.footer-logo {
display: inline-block;
margin-bottom: 16px;
}


.soc-footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.container.thumb-footer {
    display: flex;
    margin: 0 auto;
    /* gap: 120px; */
    align-items: baseline
}

.info-footer {
    margin-right: 120px;
}
.soc-footer .icons-team {
    gap: 16px;
}
.link-svg {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-svg {
    fill: #f4f4fd;
}


.link-svg:hover {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-svg:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* homework 5 */

.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.footer-subscribe {
    margin-left: auto;
}
.footer-subscribe-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.subscribe-input {
    background-color: transparent;
    border: 1px solid #ffffff;;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        cursor: pointer;
        outline: transparent;
        background-color: transparent;
        font-weight: 400;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            color: #ffffff;;
            padding-left: 16px;

}
.subscribe-input::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;; 
        /* padding-left: 16px; */

}
.subscribe-input:focus, 
.subscribe-input:hover {
    border: 1px solid #31d0aa;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* gap: 16px; */

    cursor: pointer;
    border: none;

    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    fill: #fff;
}
.subscribe-btn-svg {
    margin-left: 16px;
}
.subscribe-btn:focus, 
.subscribe-btn:hover {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    
    background-color: #fcfcfc;
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    cursor: pointer;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
    background-color: #404bbf;
    border: none;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-svg-close {
    fill: #2e2f42;
}
.modal-btn:hover .modal-svg-close, .modal-btn:focus .modal-svg-close {
  fill: #fff;  

transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

/* Forma */

.modal-input-label {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        
    display: block;
    margin-bottom: 4px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    
    border: 1px solid rgba(46, 47, 66, 0.4);  
    background-color: transparent;

    padding-left: 38px;

    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid #4d5ae5;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
    fill: #4d5ae5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-cover {
    position: relative;
}

.modal-input-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

.thumb-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;

    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border: 1px solid #4d5ae5;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Checkbox */

.thumb-checkbox {
    margin-top: 16px;
    margin-bottom: 24px;
}

.modal-check {
    cursor: pointer;
}

.check-text {
    display: flex; 
    align-items: center; 

    font-weight: 400;
        font-size: 12px;
    
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;

        cursor: pointer;
}
.check-element {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text-part {
        line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
        margin-left: 5px;

        /* display: inline-flex; */
}

.modal-check:checked + .check-text .check-element {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}



.form-btn {
    border: none;
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;

    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;

    display: block;
    margin: 0 auto;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:focus 
.form-btn:hover {
    background-color: #404bbf;
}
